@import url(https://fonts.googleapis.com/css?family=Roboto:100,regular,italic,700);

body {
  font-family: "Roboto", sans-serif;
  background-color: #9e7777;
  color: #f5e8c7;
}
.container {
  width: 30%;
  padding: 15px 25px;
  margin: 50px auto;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #6f4c5b;
}
form {
    box-sizing: border-box;

  width: 90%;
  margin: 20px auto;
}
h1 {
  box-sizing: border-box;
  margin: 0;
  font-size: 3em;
  font-weight: 700;
}
.form-element {
  position: relative;
  width: 100%;
  margin-top: 25px;
}
input {
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  font-size: 1.2em;
  padding: 10px 15px 0 15px;
  height: 60px;
  border: none;
  background-color: #9e7777;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
input:focus {
  outline: none;
}
label {
  box-sizing: border-box;
  width: 100%;
  color: #f5e8c7;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  font-size: 1.7em;
  cursor: text;
}

input:focus ~ label,
input:valid ~ label {
  font-size: 1em;
  left: 15px;
  top: 5px;
}

.btn {
  display: block;
  font-size: 1.5em;
  width: 200px;
  height: 50px;
  margin: 25px auto;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
@media only screen and (max-width: 1100px) {
    .container {
      width: 60%;
    }
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
